*, *::before, *::after {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
}
body {
    padding: 0;
    margin: 0%;
    background: linear-gradient(to right, grey, black);
}
.button {
    background-color: rgb(65, 64, 64);
    color: white;
    cursor: pointer;
    font-size: 2rem;
    outline: none;
}
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
    color: white;
}
.display {
    grid-column: 1 / -1;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
}
.output {
    color: white;
    font-size: 2.5rem;
}
.input {
    color:white;
    font-size: 1.5rem;
}
#operation {
    background-color: orange;
}
#equals {
 background-color: orange;
}

#clear {
    background-color: rgb(217, 217, 217);
    color: black;
    grid-column: span 2;
}
.button:hover {
    background-color: rgb(97, 93, 93);
}
#operation:hover {
    background-color: rgb(245, 196, 105);
}
#clear:hover {
    background-color: rgb(239, 237, 237);
}
#zero {
    grid-column: span 2;
}
#del {
    background-color: orange;
}
